
.right-head {
    
    padding: 1rem;
}

.right-head:hover {
    background-color: rgb(255, 178, 63);
    padding: 1rem;
}

.main-content-container {
    display: flex;
    margin: 3rem 5rem 0rem 5rem;
}


.search-bar {
    display: flex;
    justify-content: flex-end;
    /* border: 2px solid lightblue; */
    flex: 1;
}

.search {
    outline: none;
    border: 0.0000001rem solid rgba(177, 177, 177, 0.832);
    border-radius: 6px 0px 0px 6px;
    padding: 0.6rem 0rem 0.6rem 1rem;
    flex: 0.35;
    color: rgb(152, 152, 152);
}
.btn-outline-secondary {
    border: 0.0000001rem solid rgba(177, 177, 177, 0.832);
    padding: 0rem 1rem 0rem 1rem;
}

.btn-outline-secondary:hover {
    background-color: #e2e2e2;
    border: 0.0000001rem solid rgba(199, 199, 199, 0.832);
    
}

.search:focus {
    border: 0.0000001rem solid rgba(255, 219, 166, 0.832);
}

.search:active {
    border: 0.0000001rem solid rgba(255, 219, 166, 0.832);
}

.search::placeholder{
    padding: 0rem 0rem 0rem 0rem;
    font-size: 18px;
    color: rgb(152, 152, 152);
}

.category-author {
    color: rgb(152, 152, 152);
    font-family: 'Metropolis';
    font-size: 21px;
    display: flex;
    justify-content: space-between;
    /* border: 2px solid #f00; */
    flex: 0.40;

}